body {
    font-family: 'Playfair Display', serif;
    background-color: rgb(29, 27, 27);
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.overflow-hidden {
    overflow: hidden;
}

.hidden {
    display: none;
}

.border-bottom {
    border-bottom: 1px solid #ffffff59;
    background: #1d1b1b5b;
}

/* Animation for opening the mobile menu */
#mobile-menu {
    animation: slideIn 0.5s ease-out forwards;
}

/* Slide-in effect from the bottom */
@keyframes slideIn {
    from {
        transform: translateY(-100%);
        /* Initially off-screen */
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Animation for menu items to fade-in */
#mobile-menu ul li {
    opacity: 0;
    animation: fadeIn 0.5s ease-out forwards;
}

/* Fade-in effect for menu items */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Animation for closing the mobile menu (Slide-out) */
@keyframes slideOut {
    from {
        transform: translateY(0);
        /* Start at current position */
        opacity: 1;
    }

    to {
        transform: translateY(-100%);
        /* Move off-screen */
        opacity: 0;
    }
}


/* Delay animations for menu items to stagger */
#mobile-menu ul li:nth-child(1) {
    animation-delay: 0.2s;
}

#mobile-menu ul li:nth-child(2) {
    animation-delay: 0.3s;
}

#mobile-menu ul li:nth-child(3) {
    animation-delay: 0.4s;
}

#mobile-menu ul li:nth-child(4) {
    animation-delay: 0.5s;
}

#mobile-menu ul li:nth-child(5) {
    animation-delay: 0.6s;
}